<h4 class=" pt-5">24 Hour Price</h4>
<div class="d-flex">

  <table class="table">

    <tr>
      <td>Limit:</td>
      <td>

        <% if(item.hasOwnProperty('limit')) {%>
          <%= (item.limit).toLocaleString('en-US') %>
            <% }%>
      </td>
    </tr>
    <tr>
      <td>Buy:</td>
      <td>
        <%= (priceData.twentyFourHourPrice.avgLowPrice).toLocaleString('en-US') %>
      </td>
    </tr>
    <tr>
      <td>Sell</td>
      <td>
        <%= (priceData.twentyFourHourPrice.avgHighPrice).toLocaleString('en-US') %>
      </td>
    </tr>
    <tr>
      <td>Margin:</td>
      <td>
        <%= (priceData.twentyFourHourPrice.avgHighPrice -
          priceData.twentyFourHourPrice.avgLowPrice).toLocaleString('en-US') %>
      </td>
    </tr>
    <tr>
      <td>Potential Profit:</td>
      <td>
        <% if(item.hasOwnProperty('limit')) {%>
          <%= ((priceData.twentyFourHourPrice.avgHighPrice - priceData.twentyFourHourPrice.avgLowPrice) *
            item.limit).toLocaleString('en-US') %>
            <% } else { %>
              <%= (priceData.twentyFourHourPrice.avgHighPrice -
                priceData.twentyFourHourPrice.avgLowPrice).toLocaleString('en-US') + ' (No limit found)' %>
                <% }%>
      </td>
    </tr>
  </table>
</div>