<%- include('partials/header') -%>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <div class="container p-5">
    <div class="d-flex justify-content-start align-items-center">
      <h2>
        <%= item.name %>
      </h2>

      <img src="<%= itemImageUrl %>" alt="">

    </div>
    <h6>id: <%= item.id %>
    </h6>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Add to Watchlist
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% for(var i=0; i < watchlists.length; i++) { %>
          <div class="">
            <a class="dropdown-item" href="/watchlist">
              <%= watchlists[i].name %>
            </a>
          </div>
          <% } %>
      </div>
      <div class="form-check form-check-inline pl-4">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">5 Minute</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">1 Hour</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"
          checked>
        <label class="form-check-label" for="inlineRadio1">24 Hour</label>
      </div>
    </div>

    <!-- <hr> -->
    <% if(true) {%>
      <%- include('partials/dailyPrice') -%>
        <% } %>

          <h4 class="pt-5">Price History</h4>
          <p>Last 100 Days</p>
          <canvas id="myChart"></canvas>
          <script>
            let itemID = <%= item.id %>;

            let priceHistory = fetch(`https://prices.runescape.wiki/api/v1/osrs/timeseries?timestep=24h&id=${itemID}`)
              .then((res) => res.json())
              .then((obj) => {

                let timeStamps = obj.data.slice(0, 100).map(elem => {
                  let unix_timestamp = elem.timestamp
                  var date = new Date(unix_timestamp * 1000);
                  return date.toLocaleDateString()
                });

                //prices
                let avgHigh = obj.data.slice(0, 100).map(elem => elem.avgHighPrice);
                let avgLow = obj.data.slice(0, 100).map(elem => elem.avgLowPrice);

                //volume

                console.log(avgHigh);

                const ctx = document.getElementById('myChart');
                const myChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                    labels: timeStamps,
                    datasets: [{
                      label: 'Avg High Price',
                      data: avgHigh,
                      backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                      ],
                      borderColor: [
                        'rgba(255, 99, 132, 1)',
                      ],
                      borderWidth: 1
                    }, {
                      label: 'Avg Low Price',
                      data: avgLow,
                      backgroundColor: [
                        'rgba(0, 99, 255, 0.2)',
                      ],
                      borderColor: [
                        'rgba(0, 99, 255, 0.2)',
                      ],
                      borderWidth: 1
                    }]
                  },
                  options: {
                    scales: {
                      y: {
                        grace: '20%',
                      }
                    }
                  }
                });
              });

          </script>
  </div>
  <%- include('partials/footer') -%>